{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Bienvenidos<br>a <span class="home__title-color">Tecnemas</span></h1>
                    <h2>"Instrumentos filosóficos <br> para emprendimientos tecnológicos"</h2>

                    <a href="#contact" class="button">Contacto</a>
                </div>

                <div class="home__social">
                    <a href="https://www.instagram.com/otaloraluna/" class="home__social-icon">
                      <i class='bx bxl-instagram'></i>
                    </a>
                    <a href="https://www.facebook.com/fernando.otaloraluna.1" class="home__social-icon">
                      <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="tel:+18045499175" class="home__social-icon"><i class='bx bxl-whatsapp' ></i></a>
                    <a href="tel:+18045499175" class="home__social-icon"><i class='bx bxl-telegram' ></i></a>
                    
                   
                </div>
                
                <div class="home__img">    
                    <img src="{% static 'website/img/amor-robot.jpeg' %}" alt="">
                    
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">Servicios</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="{% static 'website/img/about.jpg' %}" alt="">
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">Tecnemas</h2>
                        <p class="about__text">
                          Somos un equipo de ingenieros y biólogos que ofrecemos soluciones filosóficas para emprendimientos en nuevas tecnologías. Nuestra experiencia estudiando la vida actual en base a la teoría biológica nos coloca en una posición privilegiada para encontrar soluciones éticas a la cuestión de "la vida artificial".</p> <br> <p class="about__text">Brindamos talleres teóricos para atender el miedo que la sociedad actual tiene a las tecnologías de vida artificial e inteligencia artificial.</p>           
                    </div>                                   
                </div>
            </section>

            <!--===== EQUIPO =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Equipo</h2>    
                <div class="wrapper">
                    <div class="box">
                      <i class="fas fa-quote-left quote"></i>
                      <p>Profesor Titular del Departamento de Biología de la Facultad de Ciencias de la Universidad de Los Andes.</p>
                      <div class="content">
                        <div class="info">
                          <div class="name">Elis Aldana</div>
                          <div class="job">Doctor en Ciencias</div>
                          <div class="name">Mérida Venezuela</div>
                         
                        </div>
                        <div class="image">
                          <img src="{% static 'website/img/profile-2.jpg' %}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="box">
                      <i class="fas fa-quote-left quote"></i>
                      <p>Investigo el comportamiento sensorial de los animales desde un enfoque fisiológico y biosemiótico.
                
                      </p>
                      <div class="content">
                        <div class="info">
                          <div class="name">Fernando Otálora</div>
                          <div class="job">Doctor en Biología</div>
                          <div class="name">Utah EE. UU.</div>
                          
                        </div>
                        <div class="image">
                          <img src="{% static 'website/img/profile-1.jpg' %}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="box">
                      <i class="fas fa-quote-left quote"></i>
                      <p>Desarrollo de aplicaiones web en Django, Html, Css y músico pianista.
                
                      </p>
                      <div class="content">
                        <div class="info">
                          <div class="name">Ricardo Otálora</div>
                          <div class="job">Ing. en Informática. <br> y artes musicales </div>
                          <div class="name">Maracaibo Venezuela.</div>
                          
                        </div>
                        <div class="image">
                          <img src="{% static 'website/img/ricardo.jpeg' %}" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
            </section>

           <!--  
            <section class="work section" id="work">
                <h2 class="section-title">Work</h2>

                <div class="work__container bd-grid">
                    <div class="work__img">
                        <h2 class="work__subtitle">Trabajos de Grado</h2>
                        <img src="{% static 'website/img/work1.jpeg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <h2 class="work__subtitle">Publicaciones</h2>
                        <img src="{% static 'website/img/work2.png' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'website/img/work3.jpeg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'website/img/work4.png' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'website/img/work5.png' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'website/img/work6.jpeg' %}" alt="">
                    </div>
                </div>
            </section>
 -->
            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">     
                    <form id="contact-form" role="form" action="{% url 'home' %}" method="POST" class="contact__form">
                        {% csrf_token %}
                        <input type="text" name="namef" placeholder="Name" class="contact__input">
                        <input type="text" name="emailf" placeholder="Email" class="contact__input">
                        <textarea name="messagef" id="" cols="0" rows="10" class="contact__input">  
                        </textarea>
                        
                        <input type="submit" value="Enviar" class="contact__button button">
                    </form>
                </div>
            </section>
            {% block javascript %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
             $(document).ready(function () {
                 // catch the form's submit event
                 $('#contact-form').submit(function () {
                     // create an AJAX call
                     $.ajax({
                         data: $(this).serialize(), // get the form data
                         type: $(this).attr('method'), // GET or POST
                         url: "{% url 'home' %}",
                         success: function (response) {
                          alert("Gracias " +response.name_form +" Recibimos tu email, responderemos pronto!");
                     clearMe()
                     //alert("Registro Agregado")
                         },
                         error: function (response) {
                             // alert the error if any error occured
                             alert(response.responseJSON.errors);
                             console.log(response.responseJSON.errors)
                         }
                     });
                     return false;
                 });
             })
        
             function clearMe() {
                 document.getElementById("contact-form").reset();
             }
            </script>
            {% endblock javascript %}
        </main>

{% endblock %}

