<section class="skills section" id="skills">
    <h2 class="section-title">Equipo</h2>
    <div class="slider owl-carousel"> 
        <div class="card">
            <div class="img"><img src="{% static 'website/img/elis.jpg' %}" alt=""></div>
            <div class="content">
                <div class="title">Elis Aldana</div>
                <div class="sub-title">Investigador</div>
                <!--<p>Lorem ipsum dolor sit amet,
                     consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus
                      sed unde voluptas cumque.</p>
                 <div class="btn">
                      <button>Read more</button>
                    </div> -->
            </div>
        </div>
    </div>
    </section>